<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>Portfolio - Pratik Shanbhag</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/a54d2cbf95.js"></script>
</head>

<body>
    <header>
        <a href="/" class="logo">
            Portfolio
        </a>
        <div class="toggle" onclick="toggleMenu();">
            <ul class="menu">
                <li><a href="/">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#service">Skills</a></li>
               
                <li><a href="#contact">Contact</a></li>
            </ul>
        </div>
    </header>

    <div class="header">
        <div class="progress-scroll-bar" id="progressBar"></div>
    </div>

    <div id="container">

        <section class="banner" id="home">
            <div class="home">
                <div class="textBox">
                    <h2>Hello, I'm<br><span>Pratik Shanbhag</span></h2>
                    <h3>I'm a Full Stack Developer</h3>
                    <div class="buttonMe">
                         <a href="https://www.linkedin.com/in/pratik-shanbhag-73bb03246/" target="_blank" class="btnAbout btn">
                            <i class="fab fa-linkedin"></i> Linked-in</a>
                        <a href="https://drive.google.com/file/d/1Qydkei8YopX_tC192XpaFATn72FbTUWW/view?usp=drive_link"
                            download class="btnAbout btn">Download CV</a>
                        <a href="https://github.com/Pratiks88" target="_blank" class="btnAbout btn">
                            <i class="fab fa-github"></i> GitHub</a>
                       
                    </div>
                </div>
                <div class="imageHome">
                    <img src="./logoHome.png">
                </div>
            </div>
        </section>

        <section class="about" id="about">
            <div class="headingAbout">
                <h2>About Me</h2>
            </div>
            <div class="contentAbout">
                <div class="contentBoxAbout">
                    <div class="image">
                        <img src="./pratik.jpg" class="imgAbout">
                    </div>
                    <div class="text">
                        <p ><span>I am a Full stack developer.</br></span><br>
                           I'm Pratik Prakash Shanbhag, currently in my third year of studying Information Science and Engineering at BMS College of Engineering in Bangalore. My interests lie in crafting responsive and visually appealing websites, delving into the world of machine learning, and much more. I'm passionate about creating cutting-edge web experiences and staying at the forefront of technology trends. Whether it's designing websites or exploring machine learning, I'm dedicated to honing my skills and knowledge to excel in the ever-evolving tech industry
                        </p>
                    </div>
                </div>
            </div>
        </section>

 <section class="services" id="service">
    <div class="heading">
        <h2 >Skills</h2>
    </div>

    <div class="fullWorks">
        {% for item in items %}
        <div class="workCard">
            <img src="{{ item.img }}">
            <h2>{{ item.task }}</h2>
            <div class="details">
              
                <p class="jai">{{ item.details }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</section> 


<footer id="contact">
  <div class="contact-form">
    <h3 class="handle">Contact Us</h3>
    <p>Have questions or feedback? Reach out to me at:</p>
    <ul>
      <li>Email: prathikshanbhag08@gmail.com.com</li>
      <li>Phone: +91 7996457543</li>
    </ul>
  </div>
</footer>


</body>
</html>
