/*Importação de fontes do googleapis*/
@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');



/*Estilização geral da página*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}

section{
    padding: 50px;
}

/*Estilização do Header*/
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    padding: 15px 100px;
    transition: 0.5s;
}

header ul{
    position: relative;
    display: flex;
}

header .logo{
    color: #111;
    font-size: 24px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 2px;
}

header ul li{
    list-style: none;
}

header ul li a{
    display:inline-block;
    margin: 0 15px;
    color: #111;
    text-decoration: none;
}

header ul li a::after{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: rgb(108,99,255);
    transition: width .3s;
}

header ul li a:hover::after{
    width: 100%;
    transition: width .3s;
}

header ul li a:hover{
    color: rgb(108,99,255);
    font-weight: 550;
}

.hoverButtonWork::after{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: white;
    transition: width .3s;
}

.hoverButtonWork:hover::after{
    width: 100%;
    transition: width .3s;
}

header ul li a.active{
    font-weight: 550;
    color: rgb(108,99,255);
}

header.sticky,
header.work{
    background: rgb(108,99,255);    
    padding: 20px 100px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.5);
}

header.sticky .logo,
header.sticky ul li a,
header.work .logo,
header.work ul li a{
color: #fff;
}

header.sticky .hoverButton::after,
header.sticky ul li a::after{
    background: white;
}

/*Criação de uma progress scroll bar*/

.header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
  }
    
  .progress-scroll-bar {
    background-color: rgba(0,0,0,0.5);
    height: 7px;
    width: 0%;
    margin-top: 75px;
  }

/*Estilização do Banner inicial*/

.home {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    min-height: 85vh;
}

.home img{
    width: 90%;
}

.home h2{
    font-size: 3em;
    color: #111;
    font-weight: 500;
    line-height: 1.5em;
}

.home h2 span{
    font-size: 1.5em;
    font-weight: 700;
}

.home h3{
    font-size: 1.5em;
    color: #111;
    font-weight: 500;
}

.home .btnAbout {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 600;
    margin: 30px 15px 0 0;
    padding: 10px 30px;
    font-size: 15px;
    background: rgb(108,99,255);
    border-style: solid;
    border: 3px solid rgb(108,99,255);
    border-radius: 10px;
    transition: 0.5s;
    position: relative;
    overflow: hidden;
    z-index: 0;
    }

    .home .btnAbout:hover{
        color: rgb(108,99,255);
    }

    .home .btnAbout::before{
        content: "";
        position: absolute;
        left: 0;
        width: 100%;
        height: 0%;
        background: white;  
        color: rgb(108,99,255);          
        transition: 0.5s;
        top: 0;
        border-radius: 0 0 50% 50%;
    }

    .home .btnAbout:hover::before{
        color: rgb(108,99,255); 
        height: 180%;
    }

/*Estilização do About Me*/

section.about{
    background: rgba(0,0,0,0.04);
    position: relative;
    padding-bottom: 80px;
}

.heading{
    width: 100%;
}

.heading h2{
    text-align: center;
    font-weight: 600;
    font-size: 50px;
    margin-bottom: 50px;
}

.headingAbout{
    margin: 0 auto;
    width: 50%;
}

.contentBoxAbout{
    width: 100%;
}

.contentBoxAbout .image{
    position: relative;
    width: 30%;
}

.contentBoxAbout .image img{
    max-width: 350px;
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.contentBoxAbout .text{
    width: 70%;
    position: relative;      
}

.headingAbout h2{
    text-align: center;
    color: #111;
    font-weight: 600;
    font-size: 50px;
    margin-bottom: 50px;
}

.contentBoxAbout{
    display: -webkit-flex;
}

.imgAbout{
    border-radius: 50%;
    border: 3px solid rgba(108,99,255, 0.7);
    margin-right: 80px;
}

.contentBoxAbout .text span{
    font-size: 25px;
    font-weight: 600;
}

.text h3{
    font-size: 25px;
}

.text p{
    text-align: justify;
    overflow-wrap: break-word;  
}

/*Our services*/
.services{
    background: #111;
    text-align: center;
}

.services .heading h2 {
    color: #fff;
}

.fullWorks{
    display: grid;
    grid-template-columns: 350px 350px 350px;
    grid-template-rows: 300px 300px;
    justify-items: center;
    justify-content: center;
    
}

.flip-container {
    perspective: 1000px;
    width: 300px;
    height: 250px;
  }


.flipper{
    transition: transform 0.8s;
    transform-style: preserve-3d;    
}

.flip-container:hover .flipper{
	transform: rotateY(180deg);
}

.flipper .front{
    position: absolute;
    width: 300px;
    height: 250px;
    background: #fff;
    border-radius: 20px;
    border-color: rgb(108,99,255);
    border-style: solid;
    backface-visibility: hidden;
    padding: 0 25px;
}

.front img{
    margin-top: 30px;
}

.front h2{
    text-align: center;
    margin-top: 10px;
    font-weight: 450;
}

.flipper .back{
    position: absolute;
    width: 300px;
    height: 250px;
    background: rgb(108,99,255);
    align-items: center;
    border-radius: 20px;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    transition: 0.5s;
    color: #fff;
    padding: 0 20px;
    text-align: center;
}

.flipper .back h2{
    margin: 15px;
    font-size: 20px;
    font-weight: 600;
}

.btn{
    position: absolute;
    background: none;
    display: inline-block;
    color: rgb(108,99,255);
    padding: 10px 20px;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 500;
    border-radius: 10px;
    border: 2px solid white;
    border-style: solid;
    cursor: pointer;
    overflow: hidden;
    bottom: 20px;
    right: 55px;
}

.btn1{
    color: white;
  }

.btn1:hover{
    font-weight: 600;
}

.btn::before{
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 0%;
    background: rgb(134, 128, 248);
    z-index: -1;
    transition: 0.5s;
  }

  .btn1::before{
    top: 0;
    border-radius: 0 0 50% 50%;
  }

  .btn1:hover::before{
    height: 180%;
  }

.flipper .back a:before,
.flipper .back a:after{
    position: absolute;
    content: '';
    height: 0;
    width: 0;
    border: 6px solid transparent;
    bottom: 0;
    left: 0;
}

.flipper .back a:after{
    border: 6px solid black;
    top: 0;
    right: 0;
}

.flipper .back a:hover:before,
.flipper .back a:hover:after{
    width: 220px;
    height: 46px;
    border-radius: 10px;
    border: 6px solid black;
    left: -5px;
    align-items: center;
    border-right: none;
    border-bottom: none;
    transition: height 0.5s linear,
                width 0.5s linear 0.5s;
}

.flipper .back a:hover:after{
    border-left: none;
    border-top: none;
    transition: height 0.5s linear,
                width 0.5s linear 0.5s;
                
}

/* TRABALHOS REALIZADOS */

.work .content{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.work .heading{
    text-align: center;
}

.work .content .workBox{
    padding: 20px;
}

.work .content .workBox img{
    max-width: 100%;
    border-radius: 10px;
}

section.work .btnTrabalhos{
    display: inline-block;
    color: #fff;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 650;
    margin: 30px 15px 0 0;
    padding: 10px 10%;
    font-size: 22px;
    background: rgb(108,99,255);
    border-style: solid;
    border: 3px solid rgb(108,99,255);
    border-radius: 10px;
    transition: 0.5s;
    position: relative;
    overflow: hidden;
    z-index: 0;
    }

    section.work .btnTrabalhos:hover{
        color: rgb(108,99,255);
        font-weight: 650;
    }

    section.work .btnTrabalhos::before{
        content: "";
        position: absolute;
        left: 0;
        width: 100%;
        height: 0%;
        background: white;  
        color: rgb(108,99,255);          
        transition: 0.5s;
        top: 0;
        border-radius: 0 0 50% 50%;
    }

    section.work .btnTrabalhos:hover::before{
        color: rgb(108,99,255); 
        height: 180%;
    }

.headingBtn{
    text-align: center;
}

/*CONTACT*/

.contact .heading h2 {
    color: #fff;
}

.contact{
    background: #111;
}

.contact .content{
    display: flex;
}

.contactInfo{
    padding-right: 20px;
}

.contactInfo h3{
    margin-bottom: 20px;
}

.contactInfo .box{
    display: flex;
}   

.contactInfo .box i{
    align-self: baseline;    
    margin-right: 15px;
    font-size: 22px;
}
.contactInfo .box h3{
    align-self: baseline;    
}
.contactInfo .FullBox p{
    color: #fff;
    margin-bottom: 20px;
    margin-top: 5px;
}

.contactInfo .box h3{
    margin-bottom: 5px;
    color: rgb(108,99,255);
}

.contactInfo .box i{
    color: rgb(108,99,255);    
}

.contactInfo .box p{
    color: #fff;
    margin-bottom: 20px;
}


.formBox{
    min-width: 60%;
}

.formBox form{
    display: flex;
    flex-direction: column;
}

.formBox form h3,
.contactInfo h3{
    color: #fff;
    font-size: 20px;
    font-weight: 500;
}

.formBox form h3{
margin-bottom: 20px;
}
    
.formBox form input,
.formBox form textarea{
    margin-bottom: 20px;
    padding: 15px;
    font-size: 16px;
    border: none;
    outline: none;
    background: #222;
    color: #fff;
    resize: none;
}

.formBox form textarea{
    min-height: 200px;
} 

.formBox form input::placeholder,
.formBox form textarea::placeholder{
    color: #999;
}

.formBox form .buttonForm{
    display: inline-block;
    color: #fff;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 600;
    margin: 30px 15px 0 0;
    width: 920px;
    font-size: 22px;
    background: rgb(108,99,255);
    border-style: solid;
    border: 3px solid rgb(108,99,255);
    border-radius: 10px;
    transition: 0.5s;
    position: relative;
    overflow: hidden;
    z-index: 0;
    cursor: pointer;
    }

    .formBox form .buttonForm:hover{
        color: rgb(108,99,255);
    }
    
    .formBox form .buttonForm::before{
        content: "";
        position: absolute;
        left: 0;
        width: 100%;
        height: 0%;
        background: white;  
        color: rgb(108,99,255);          
        transition: 0.5s;
        top: 0;
        border-radius: 0 0 50% 50%; 
    }
    
    
    .formBox form .buttonForm:hover::before{
        color: rgb(108,99,255); 
        height: 180%;
    }

    .formBox form .buttonForm {
        margin-top: 5px;
        width: 300px;
    }


/*copyright*/

.copyright{
    background: #222;
    color: #fff;
    text-align: center;
    padding: 10px;
}

/*Responsive*/

@media (max-width: 1100px){
    header,
    header.sitcky{
        padding: 20px 100px;
        z-index: 1000;
    }

    .progress-scroll-bar {
        margin-top: 80px;
    }

    .menu{
        position: fixed;
        top: 75px;
        right: -100%;
        display: block;
        padding: 100px 50px;
        text-align: center;
        width: 100%;
        height: 100vh;
        background: #fff;
        transition: 0.5s;
        z-index: 999;
        border-top: 4px solid rgba(0,0,0,0.2);
        font-size: 25px;
    }

    .menu.active{
        right: 0;
    }

    header ul li a{
        margin-bottom: 20px;
    }

    header.sticky ul li a{
        color: #111;
    }

    .toggle{
        width: 40px;
        height: 40px;
        background: url(image/menuBlack.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 30px;
        cursor: pointer;
    }

    header.sticky .toggle{
        width: 40px;
        height: 40px;
        background: url(image/menu.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 30px;
        cursor: pointer;
    }

    .toggle.active{
        background: url(image/closeBlack.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 25px;
        cursor: pointer;
    }
    header.sticky .active{
        background: url(image/close.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 25px;
        cursor: pointer;
    }

    .fullWorks{
        grid-template-columns: 350px 350px;   
}

}

@media (max-width: 785px){
    .fullWorks{
        grid-template-columns: 350px;   
        grid-template-rows: 300px 300px 300px 300px 300px;
    }

    .work .content{
        grid-template-columns: 1fr;
    }

    .skills .content{
        grid-template-columns: 1fr;
    }

    .skills .content .languageSkills{
        margin-top: 50px;
    }

    .contactInfo .FullBox p{

    }

    .contact .content{
        flex-direction: column;
    }
    
    .contact .contactInfo .box{
        align-content: center;
        justify-content: center;

    }

}